@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

body{
    overflow-x: hidden;
}

.bb{
    border: 2px solid blue;
}

.gg{
    border: 2px solid green;
}

.rr{
    border : 2px solid red;
}

img,svg{
    display: block;
    max-width: 100%;
}


/* home page */
.home-hero-know-btn{
 
    color: black;
    
/* width: 239px;
height: 69px; */
background: #FFFFFF;
box-shadow: 2px 11px 20px rgba(51, 99, 108, 0.08);
border-radius: 10px;
}

.home-hero-robot-bg{
    background-image: url('./images/home/home-hero-robot.png');
    /* background-attachment:fixed; */
    background-repeat: no-repeat;
    background-size: contain;
     background-position: center bottom;
}


.home-sol-card-1{
   background: linear-gradient(to left , #023267 80%);

}


/* footer css */
.footer-bg{
    background-image: url("./images/footer/footer-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
  
    width: 100vw;
}